table {
  width: 100%;
  border-collapse: collapse;
}

.mat-column-no {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
}

.mat-column-name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
}

.mat-column-date {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 8% !important;
}

.mat-column-time {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 8% !important;
}

.mat-column-location {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25% !important;
  width: 25% !important;
}

.mat-row:hover {
  background-color: rgba(134, 134, 134, 0.747);
}
.mat-row.highlighted {
  background-color: rgba(134, 134, 134, 0.493);
}
.mat-row {
  cursor: pointer;
}
